[submodule "extras"]
	path = extras
	url = https://github.com/Aandrew-Kl/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/Aandrew-Kl/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/Aandrew-Kl/_gallery
[submodule "images"]
	path = images
	url = https://github.com/Aandrew-Kl/images
[submodule "text"]
	path = text
	url = https://github.com/Aandrew-Kl/text.git
	branch = main
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/Aandrew-Kl/bibliography.git
[submodule "complexity"]
	path = complexity
	url = https://github.com/Aandrew-Kl/_book_complexity.git


